.main-container {
  min-height: 100vh;
  background-color: #000;
  background-image: "";
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.main-section {
  width: 80%;
  height: 80%;
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.383);
  color: #fff;
}
.main-section-boxes {
  padding: 0.5rem 0.4rem;
}
h1.time {
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  font-size: 8rem;
}
@media screen and (min-width: 200px) and (max-width: 720px) {
  h1.time {
    font-size: 4rem;
  }
  h2.greet{
      font-size: 1.1rem;
  }
  h2.q{
      font-size: 1rem;
  }

}

h2.greet {
  font-size: 2.5rem;
}
h2.q {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 2rem;
  color: cyan;
}
.q::before {
  content: open-quote;
  color: #fff;
  font-size: 140%;
  padding: 0.3rem;
  font-weight: bold;
}
.q::after {
  content: close-quote;
  color: #fff;
  font-size: 140%;
  padding: 0.3rem;
  font-weight: bold;
}
